body{
	margin: 0;
}
@font-face{
font-family: 'Aparajita';
src: url('../fonts/aparajb.ttf');
font-weight: bold;

}
/*
*{
	border:1px solid red;
	border-collapse:collapse;
}
*/
.container{
	max-width: 1170px;
	margin: 0 auto;
}
.header{
	display: flex;
	flex-direction: column;
}

/*-----Menu-----*/

/*----общее-----*/
.allNav__link{
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  letter-spacing: 1.44px;
}

/*первое меню*/
.mainNav{
	align-self: flex-end;
  display: flex;
  list-style: none;
  margin: 13px 0 0 0;
  width: 520px;
  justify-content: space-between;
  padding: 0;
}
.mainNav__link{	
	color: #434343;	
	font-size: 16px;
}

/*второе меню*/
.logoRow{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;    
	background-color: #f6f6f6;
	height: 90px;
}
.registrationNav{
	display: flex;
	list-style: none;
	margin: 0;
  padding: 0;
}
.registrationNav__link{
  color: #ffffff; 
  font-size: 16px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2px;
}
.registrationNav__link--small{
	width: 89px;
}
.registrationNav__iconBlock{
	width: 142px;
}
.registrationNav__link:nth-child(odd){
	background-color: #05aecc;
}
.registrationNav__link:nth-child(even){
	background-color: #f0626e;
}
.registrationNav__img{
	width: 25px;
	height: 25px;
}

/*третье меню*/

.catalogueNav{
  display: flex;
  flex-wrap: wrap;  
  align-items: center;
  justify-content: space-around;
  background: #05aecc;
  height: 70px;
  margin: 14px 0;
  padding: 0;
  list-style: none;
}
.catalogueNav__link{
	color: #ffffff;
}
.catalogueNav__link--active{
	border: 1px solid white;
  padding: 12px 2px;
}
.catalogueNav__link:hover{
  background-color: #ffffff;
  color: #ef5966;
}

.catalogueNav__dropdown {
  float: left;
  overflow: hidden;
}
.catalogueNav__dropdownContent{
	width: 263px;
  padding: 0;
  list-style: none;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.33);
	background-color: #ffffff;
	opacity: 0.9;
  display: none;
  position: absolute;
  z-index: 1;
  top: 217px;
}
.catalogueNav__dropdownBlock{
	display: flex;
	border-bottom: 1px solid #cacaca;
	padding: 18px;
}
.catalogueNav__dropdownOffer{
	margin-left: 10px;
}
.catalogueNav__dropdownImg{
	height: 76px;
}
.catalogueNav__dropdownH4{
  color: #ef5966;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.44px;
  margin: -4px 0 0 0;
}
.catalogueNav__dropdownP{
  color: #454545;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  margin: 6px 0;
}
.catalogueNav__dropdownLink{
	color: #ffffff;
  font-size: 12px;
  background-color: #05aecc;
  padding: 4px 27px;
}
.catalogueNav__dropdown:hover .catalogueNav__dropdownContent {
  display: block;
}


@media screen and (min-width: 700px){
    .shop__preview {
    display: grid;
    grid-gap: 0.5%;
    grid-template-columns: 57% 42.5%;
  }
  /* хз,как адаптировать 
      grid-gap: 6px;
    grid-template:
    [row1-start] "shop__men shop__women" 320px [row1-end]
    [row2-start] "shop__men shop__children" 245px [row2-end]
    [row3-start] "shop__search shop__jewerly" 170px [row3-end]
    [row4-start] "shop__crafts shop__jewerly" 335px [row4-end]
    / 670px 494px;
  }
  */
  .shop__men{
    grid-row: span 2;
  }
  .shop__jewerly{
    grid-row: span 2;
  }

}
.shop__img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.shop__search{
  background-color: #f0626e;
  height: 170px;
}
@media screen and (max-width: 700px){
  .shop__block{
    margin: .5em .1em;
  }
}
@media screen and (max-width: 400px){
  .shop__img{
    height: 250px;
  }
}

.shop__textBlock{
  width: 348px;
  height: 105px;
  background-color: #362a4f;
  opacity: 0.8;
}
.shop__textBlock p{
  margin: 0;
}
.shop__titles{
  font-family: Aparajita;
  font-size: 58px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ef5966;
}
.shop__description{
  color: #ffffff;
font-family: Lato;
font-size: 13px;
font-weight: bold;
text-transform: uppercase;
}